@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 358 40% 98%;
    --foreground: 358 78% 1%;
    --muted: 118 24% 87%;
    --muted-foreground: 118 8% 27%;
    --popover: 358 40% 98%;
    --popover-foreground: 358 78% 1%;
    --card: 358 40% 98%;
    --card-foreground: 358 78% 1%;
    --border: 358 6% 92%;
    --input: 358 6% 92%;
    --primary: 358 43% 29%;
    --primary-foreground: 358 43% 89%;
    --secondary: 118 43% 29%;
    --secondary-foreground: 0 0% 100%;
    --accent: 238 43% 29%;
    --accent-foreground: 238 43% 89%;
    --destructive: 10 90% 35%;
    --destructive-foreground: 10 90% 95%;
    --ring: 358 43% 29%;
    --chart-1: 358 43% 29%;
    --chart-2: 118 43% 29%;
    --chart-3: 238 43% 29%;
    --chart-4: 118 43% 32%;
    --chart-5: 358 46% 29%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 358 48% 0%;
    --foreground: 358 33% 99%;
    --muted: 118 24% 13%;
    --muted-foreground: 118 8% 73%;
    --popover: 358 48% 0%;
    --popover-foreground: 358 33% 99%;
    --card: 358 48% 0%;
    --card-foreground: 358 33% 99%;
    --border: 358 6% 14%;
    --input: 358 6% 14%;
    --primary: 358 43% 29%;
    --primary-foreground: 358 43% 89%;
    --secondary: 118 43% 29%;
    --secondary-foreground: 0 0% 100%;
    --accent: 238 43% 29%;
    --accent-foreground: 238 43% 89%;
    --destructive: 10 90% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 358 43% 29%;
    --chart-1: 358 43% 29%;
    --chart-2: 118 43% 29%;
    --chart-3: 238 43% 29%;
    --chart-4: 118 43% 32%;
    --chart-5: 358 46% 29%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
