@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 264 53% 99%;
    --foreground: 264 71% 4%;
    --muted: 234 23% 89%;
    --muted-foreground: 234 6% 29%;
    --popover: 264 53% 99%;
    --popover-foreground: 264 71% 4%;
    --card: 264 53% 98%;
    --card-foreground: 264 71% 3%;
    --border: 264 4% 91%;
    --input: 264 4% 91%;
    --primary: 264 51% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 234 51% 54%;
    --secondary-foreground: 0 0% 100%;
    --accent: 294 51% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 18 80% 30%;
    --destructive-foreground: 18 80% 90%;
    --ring: 264 51% 54%;
    --chart-1: 264 51% 54%;
    --chart-2: 234 51% 54%;
    --chart-3: 294 51% 54%;
    --chart-4: 234 51% 57%;
    --chart-5: 264 54% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 264 45% 1%;
    --foreground: 264 10% 98%;
    --muted: 234 23% 11%;
    --muted-foreground: 234 6% 71%;
    --popover: 264 45% 1%;
    --popover-foreground: 264 10% 98%;
    --card: 264 45% 2%;
    --card-foreground: 264 10% 99%;
    --border: 264 4% 13%;
    --input: 264 4% 13%;
    --primary: 264 51% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 234 51% 54%;
    --secondary-foreground: 0 0% 100%;
    --accent: 294 51% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 18 80% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 264 51% 54%;
    --chart-1: 264 51% 54%;
    --chart-2: 234 51% 54%;
    --chart-3: 294 51% 54%;
    --chart-4: 234 51% 57%;
    --chart-5: 264 54% 54%;
  }
}
